.EditableChip__wrapper{
  display: inline-block;
  //min-width: 100px;
  height: 22px;
  margin-right: 5px;
  cursor: pointer;

  &.static {
    .EditableChip__content{
      border-radius: 11px;
      color: #6d6d6d;
    }
  }

  .EditableChip__content{
    background-color: #eeeeee;
    padding: 2px 11px;
    display: inline-block;
    border-radius: 11px 0 0 11px;
    height: 100%;
    .EditableChip__text{
      //margin-top: -2px;
    }
    .EditableChip__input{

    }
  }
  .EditableChip__delete{
    @extend .EditableChip__content;
    border-radius: 0 11px 11px 0;
    background-color: #b9b9b9;
    color: #7d7d7d;
    height: 100%;
    transition: 0.1s;
    cursor: pointer;
    &:hover{
      background-color: #ff3844;
      color: white;
    }
  }

}
