$headerColor: #9bfcd3;
$borderColor: #e8e8e8;
$hoverColor: #f5f5f5;

.PTable__wrapper {
  width: 100%;
  border: none;
  border-collapse: separate;
  border-spacing: 0 10px;
  table-layout: fixed;

  .PTable__content-row {
    height: 45px;
    box-sizing: border-box;
    padding-bottom: 10px;
    transition: 0.1s;
    &:hover {
      background-color: $hoverColor;
    }
    .PTable__content-cell {
      text-align: center;
      border: 2px solid $borderColor;
      border-right: 0;

      &:last-child {
        border-right: 2px solid $borderColor;
      }
    }
  }
  .PTable__header {
    @extend .PTable__content-row;

    .PTable__header-cell {
      @extend .PTable__content-cell;
      background-color: $headerColor;
      border-color: #bdbdbd;
      &:last-child {
        border-right: 2px solid #bdbdbd;

      }
    }

  }
  .PTable__form-cell {

    .PTable__inline-table {
      width: 100.25%;
      padding: 0;
      text-align: center;
      border-collapse: separate;
      border-spacing: 0 10px;
      margin: -11px 0 0 -1px;

      .PTable__content-cell {
        background-color:  $hoverColor;
      }
    }

    margin: 0;
    .PTable__form-wrap {
      padding: 40px 30px 30px 30px;
    }

  }
}
