@import "../../palette";
.Navbar__wrap {
  width: 100%;
  background-color: $buttonGreen;
  display: flex;
  font-size: 18px;
  .Navbar__buttons {
    width: 960px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
  }
  .Navbar__link {
    flex: auto;
    padding: 20px 0;
    height: 65px;
    max-width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    a {
      margin: auto;
      flex: 1 0 0;
      text-decoration: none;
      color: white;
    }
    &:hover {
      background-color: $buttonGreenHover;
    }
  }
}