
.AddDocuments__wrapper{
  display: block;
   height: 200px;

  .AddDocuments__buttons-wrapper {
    display: block;
    width: 100%;
   
  }

  .Buttons{
    padding-left: 20px;
    display: block;
  }
  .Buttons:hover {
    color: black !important;
  }
  
  .Uploads__wrapper {
    
    .Uploads{
      display: block;

    }
  }

}

