.Button__wrapper {
  margin: auto;
  box-sizing: border-box;
  display: inline-block;
  width: 20%;
  .Button__button{
    display: inline-block;
    border: 0;
    padding: 15px;
    width: 100%;
    min-height: 4vh;
    font-size: 1.2rem;

  }
  .Button__theme-green {
    color: whitesmoke;
    background-color: #00CC33;
  }
  .Button__theme-black {
    color: whitesmoke;
    background-color: black;
  }

  .Button__side-left {
    float: left;
  }

  .Button__side-right {
    float:right;
  }

}