.Heading{
  display: flex;
  flex-direction: row;
  padding: 4px 0px 8px 0px;
  font-size: 1.2rem;
  border-bottom: 1px dashed grey;
  margin-bottom: 5px;
  margin-top: 100px;
}

.Textfield{
  text-align: center;
  width: 35%;
  margin: auto;
}

.Big__button{
  margin: auto;
  text-align: center;
}
