.Heading{
  display: flex;
  flex-direction: row;
  padding: 0px 0px 0px 30px;
  border-bottom: 1px dashed grey;
  margin-bottom: 15px;
}

.Textfield, .InputField{
  text-align: center;
  width: 390px;
  margin: auto;
}

.Big__button{
  color: black;
  margin: auto;
  text-align: center;
  padding-top: 40px;
  display: inline-block;
  width: 100%;
}

.Text{
  padding-left: 10px;
  color: #A4A4A4;
  font-size: 79%;
  margin-bottom: auto;
}

.choiceButtons{
  color: white;
  padding-left: 20px;

}
.choiceButtons:hover {
  color: black;
}

form{
  padding-top: 40px;
}
