.FileRow {
  padding: 0 20px;
  &:first-child {
    margin-top: 10px;
  }
  &:last-child {
    margin-bottom: 10px;
  }
}
.FileRow__wrapper {
  display: flex;
  flex-direction: row;
  padding: 4px 0px 8px 0px;
  font-size: 1.0rem;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
  .FileRow__Icon-wrapper {
    flex: 0.25 0 0;
  }
  .FileRow__Key-wrapper {
    flex: 1.25 0 0;
    text-align: left;
    padding-right: 20px;
  }
  .FileRow__filename-wrapper {
    flex: 5 0 0;
  }
  .FileRow__options-wrapper {
    flex: 1 0 0
  }
  .FileRow__missing-value {
    color: #bcbcbc;
  }
}