.Footer__element{
  box-sizing: border-box;
  flex: 3 0 0;
  text-align: center;
  padding: 10px 20px 0px 20px;
}

.right-align{
  text-align: right;
}

.left-align{
  text-align: left;
}

.Footer{
  display: flex;
  flex-direction: row;
  border-top: 2px solid #F2F2F2;
  margin-top: 100px;
  padding: 10px 100px 20px 100px;
  font-size: 12px;
  p{
  	color:grey;
  }
}
