a{
	text-decoration: none;
}
.Header__wrapper{
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}
.FlatButton--hover {
	transition: all 0ms !important;
}
.FlatButton--hover:hover {
	color: black !important;
	transition: all 0ms !important;
}
.HomeButton--hover {
	color: white !important;
	transition: all 0ms !important;
}
.HomeButton--hover:hover {
	color: black !important;
	transition: all 0ms !important;
}
.FlatButton--style:hover {
	color: white !important;
	transition: all 0ms !important;
};