.InputField__wrapper {
	box-sizing: border-box;
	.InputField__label{
		display: block;
	}
	.InputField__input{
		box-sizing: border-box;
		display: block;
		width: 100%;
		max-width: 50vw;
		height: 25px;
		font-size: 1.2rem;
		margin-bottom: 15px;
	}
}