.InputFieldOptions__wrapper {
  .InputFieldOptions__parent {
  width: 100%;
  position: relative;
  display: inline-block;
    .InputFieldOptions__options {
      width: 42%;
      position: absolute;
      font-size: 0.6rem;
      color: #767676;
      top: 18px;
      right: 0;
      cursor: pointer;
    }
  }
}
