.LoginForm__wrapper {
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 30%;
  align-content: center;
  text-align: center;
  .LoginForm__forgot-wrapper {
    text-align: center;
    padding: 10px;
    a.LoginForm__forgot-link {
      color: black;
      font-weight: 400;
      text-decoration: none;
      &:hover {
        color: black;
      }
    }
  }
  .LoginForm__title {
      text-align: center;
    margin-bottom: 40px;

  }
  .FirstPassword__button {
    padding-top: 20px;
  }

}