.MetsCard__wrapper {

	$activeColor: #9bfcd3;
	$pendingColor: #f9ece0;
	$expiredColor: #e4e4e4;
	$doneColor: #f9f9f9;

	display: block;
	width: 100%;
	margin-bottom: 17px;
	.status- {
		&active {
			&:hover {
				background-color: $activeColor;
			}
			&.open{
				background-color: $activeColor;
			}
		}
		&pending {
			&:hover {
				background-color: $pendingColor;
			}
			&.open{
				background-color: $pendingColor;
			}
		}
		&expired {
			&:hover {
				background-color: $expiredColor;
			}
			&.open{
				background-color: $expiredColor;
			}
		}
		&done {
			&:hover {
				background-color: $doneColor;
			}
			&.open{
				background-color: $doneColor;
			}
		}
	}
	.MetsCard__header {
		cursor: pointer;
		border: 2px solid lightgrey;
		display: flex;
		width: 100%;
		padding: 10px 0px 10px 0px;
		text-transform: capitalize;
		font-size: 18px;
		flex-direction: row;
		align-content: center;
		.right{
			text-align: right;
		}
		.middle {
			text-align: center;
		}
		.left {
			text-align: left;
		}
	}
	.MetsCard__header:hover {
		//background: #7FFFC7 !important
	}
	.MetsCard__header-button {
		flex: 1 0 0;
		padding: 0 18px;
		.MetsCard__header-button-flexwrap {
			display: flex;
			width: 100%;
			flex-direction: row;
			.flex-button-small {
				flex: 0.5 0 0;
			}
			.flex-button-large {
				flex: 3 0 0;
			}
		}
	}
	.MetsCard__content {
		
	}
}