.midaIganes {
  background-color: red;
  border-radius: 3px;
  display: block;
  .midaIganes__btn {
    border: none;
    padding: 10px;
    width: 100%;
    background: lime;
    &:hover {
      background: black;
      color: white;
    }
  }
  .midaIganes__p {
      	background-color: blue;
      	&:hover {
      		background-color: yellow;
      	}
      }

}