.Pagination{
  padding: 15px;
  text-align: center;
  font-size: 100%;
  .Pagination__number {
    margin: 0px 5px;
    cursor:pointer;
    &:last-of-type {
      margin-right: 2px;
    }
  }
}

.Pagination-active{
  color: #9BFCD3;
}
