.WideButton__wrapper {
	margin: auto;
	box-sizing: border-box;
	display: block;
	width: 100%;
	.WideButton__button{
		display: block;
		border: 0;
		padding: 15px;
		width: 100%;
		height: 100%;
		min-height: 4vh;
		font-size: 1.2rem;
		color: black;
		background-color: #2BFFA3;
	}
}