.FileRow {
  padding: 0 20px;
  &:first-child {
    margin-top: 10px;
  }
  &:last-child {
    margin-bottom: 10px;
  }
}
.FileRow__wrapper {
  display: flex;
  flex-direction: row;
  padding: 4px 0px 5px 0px;
  font-size: 1.0rem;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
  .FileRow__Icon-wrapper {
    flex: 0.25 0 0;
  }
  .FileRow__Key-wrapper {
    flex: 2 0 0;
    text-align: left;
    padding-right: 20px;
  }
  .FileRow__filename-wrapper {
    height: 27px;
    flex: 5 0 0;
  }
  .FileRow__options-wrapper {
    flex: 1 0 0;
    padding: 0 20px 0 0;
    text-align: right;
  }
  .FileRow__missing-value {
    color: #bcbcbc;
  }
  .FileRow__options {
    @extend .FileRow__missing-value;
    cursor: pointer;
  }
  .FileRow__editables-wrapper {
    @extend .FileRow__filename-wrapper;
    //overflow: hidden;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .FileRow__editables-chip {
    //a ton of !importants here to override MUI style.
    background-color: #cacaca !important;
    display: inline-flex;
    flex: 1 0 0;
  }
}