
body {
  
  font-family: 'Open Sans', sans-serif;
  min-width: 960px;
  max-width: 75vw;
  background-color: white;
  margin: 0 auto;

  p {
      font-weight: 400;
      color: black;
  }
  h1 {
      font-size: 2em;
      font-weight: 700;
      color: Black;

  }

  .Main__nav {
    background-color: #7FFFC7;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    margin-right: 3px;

    &:hover {
      background-color: #7cf7bb;
    }
  }
  //padding: 50px;
}