
body {
  
  font-family: 'Open Sans', sans-serif;
  min-width: 960px;
  max-width: 75vw;
  background-color: white;
  margin: 0 auto;

  p {
      font-weight: 400;
      color: black;
  }
  h1 {
      font-size: 2em;
      font-weight: 700;
      color: Black;

  }

  .Main__nav {
    background-color: #7FFFC7;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    margin-right: 3px;

    &:hover {
      background-color: #7cf7bb;
    }
  }
  .FlatButton--style {
    background-color: #7FFFC7 !important;
    &:hover {
      background-color: #000000 !important;
      color: black;
    }
  }

  .Dropdown__wrapper {
    .FlatButton--hover {
      background-color: #e0e0e0 !important;
      &:hover {
        background-color: #7FFFC7 !important;
      }
    }
  }
  //padding: 50px;
}