.Filter__wrapper {
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  .Filter__searchbar-wrapper {
    flex: 1 0 0;
  }
  .Filter__buttons {
    flex: 1 0 0;
    display: flex;
    text-align: center;
    flex-direction: row;
    //justify-content: space-between;
    .Filter__buttons-cell {
      //flex: 1 0 0;
      padding: 0 5px;
    }
    .FilterDropdown__button {
      width: 200px !important;
      &.applied {
        background-color: #e2e2e2 !important;
      }
    }

    .FilterDropdown__content {
      border: 1px solid #ececec;
      position: absolute;
      padding: 0;
      background-color: white;
      width: 200px;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      transition-duration: 0.1s;
    }
    .DropdownOption__wrapper {
      width: 100%;
      flex: 1 0 0;
      padding: 5px;
      box-sizing: border-box;
      &:hover {
        background-color: #e2e2e2;
      }
      &.selected {
        background-color: #e2e2e2;
      }
    }

  }
}