.Filter__wrapper {
  display: flex;
  flex-direction: row;
  padding: 5px 0px 5px 5px;
  .Filter__searchbar-wrapper {
    flex: 1 0 0;
  }
  .Filter__buttons {
    flex: 1 0 0;
    display: flex;
    text-align: center;
    flex-direction: row-reverse;
    .Filter__buttons-cell {
      padding: 0 5px;
    }
    .FilterDropdown__button {
      width: 200px !important;
      background-color: #f5f5f5 !important;
      &.applied {
        background-color: #cfcfcf !important;
      }
    }

    .FilterDropdown__content {
      border: 1px solid #ececec;
      position: absolute;
      padding: 0;
      background-color: white;
      width: 200px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      transition-duration: 0.1s;
      box-shadow: none;
    }
    .DropdownOption__wrapper {
      outline:none;
      width: 100%;
      flex: 1 0 0;
      padding: 5px;
      box-sizing: border-box;

      &:hover {
        background-color: #e2e2e2;
      }
      &.selected {
        background-color: #e2e2e2;
      }
    }

  }
}