.DetailsWrapper__wrapper {
box-sizing: border-box;
	text-align: left;
	//border: 2px solid black;
	border-top: 0;
	.DetailsWrapper__button__background {
		border: 2px lightgrey solid;
		margin-top: -2px;
		margin-right: 0px;
		//border-top-style: none;
	}
}