@import "../../../palette";

.ContractDetails {
  padding: 0 20px;
}

.ContractDetailsRow {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid $borderColor;
  height: 50px;
  font-size: 18px;
}

@mixin flex-and-margin-child($margin) {
  display: flex;
  > span {
    margin: $margin
  }
}

.ContractDetailsRow__label {
  flex: 2 0 0;
  @include flex-and-margin-child(auto 0)
}

.ContractDetailsRow__value {
  @extend .ContractDetailsRow__label;
  flex: 4 0 0;
}
.ContractDetailsRow__opts {
  flex: 1 0 0;
  @include flex-and-margin-child(auto 0 auto auto)
}